.alias_toggle {
    background: url("../../../../../system/themes/default/images/visible.gif") no-repeat left center;
    padding: 2px 0 3px 20px;
    background-position: left center;
    background-repeat: no-repeat;
}

